{% extends 'registration/base.html' %}

{% block content%}


<head>

    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-timepicker/1.13.18/jquery.timepicker.min.css">
</head>
<body>
    <center>
        <div class="card" style="width: 28rem;">
            <div class="card-header" style="font-family: Helvetica; font-size: x-large;">
                Book a Court
            </div>
            <div class="card-body">
                <p class="card-text">
                    <form method="POST" style="font-family: Helvetica; font-size: large;">
                        {% csrf_token %} 
                        {{ form.as_p }}          
                        <div>
                            <label>User: {{ username }}</label>
                        </div><br>
                        <button type="submit" class="btn btn-outline-info btn-lg">Book</button>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <a href="{% url 'booking_calendar' %}">Cancel</a>               
                    </form>
                </p>
            </div> 
        </div>           
    </center>


    {% if form.errors %}
        <div style="color: red;">
            <ul>
                {% for field in form %}
                    {% for error in field.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                {% endfor %}
            </ul>
        </div>
    {% endif %}

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-timepicker/1.13.18/jquery.timepicker.min.js"></script>
    <script>
        $(document).ready(function(){
            $('.datepicker').datepicker({
                dateFormat: 'yy-mm-dd'
            });
            $('.timepicker').timepicker({
                timeFormat: 'h:i a',
                interval: 30,
                minTime: '8:00am',
                maxTime: '6:00pm',
                dynamic: false,
                dropdown: true,
                scrollbar: true
            });
        });
    </script>
</body>

{% endblock %}

